.yt-live-chat-legacy-paid-message-renderer-0 {
    background-color: transparent !important;
    font-size: 13px !important;
    align-items: flex-start !important;
    padding: 6px 24px 6px 8px !important;
    min-height: 32px !important;
    margin: 0 !important;
    border-radius: 0 !important;
}
.ytg-watch-page .yt-live-chat-legacy-paid-message-renderer-0 {
    background-color: #1b1b1b !important;
}
.yt-live-chat-legacy-paid-message-renderer-0 #event-text.yt-live-chat-legacy-paid-message-renderer {
    color: rgba(0,0,0, 0.5) !important;
}
.ytg-watch-page .yt-live-chat-legacy-paid-message-renderer-0 #event-text.yt-live-chat-legacy-paid-message-renderer {
    color: rgba(255, 255, 255, 0.7) !important;
}
.yt-live-chat-legacy-paid-message-renderer-0 #detail-text.yt-live-chat-legacy-paid-message-renderer {
    color: rgba(0,0,0, 0.7) !important;
}
.ytg-watch-page .yt-live-chat-legacy-paid-message-renderer-0 #detail-text.yt-live-chat-legacy-paid-message-renderer {
    color: rgba(255, 255, 255, 1) !important;
}
.yt-live-chat-legacy-paid-message-renderer-0 #detail-text.yt-live-chat-legacy-paid-message-renderer {
    font-size: 13px !important;
}
.yt-live-chat-legacy-paid-message-renderer-0 #author-photo.yt-live-chat-legacy-paid-message-renderer {
    width: 24px !important;
    height: 24px !important;
    -webkit-align-self: auto !important;
    align-self: auto !important;
    margin: 0 10px 0 0 !important;
}