#brbtv-pinnedMentions-container {
    position: absolute;
    top: 55px;
    left: 14px;
    z-index: 30000000;
    right: 14px;
    max-height: 75%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.3);
}
#brbtv-pinnedMentions-container li.pinnedMention {
    background-color: #00796b;
    display: block;

    border: 1px solid #009c8a;
    border-right-color: #006155;
    border-bottom-color: #006155;
    font-size: 85%;
    color: #fff;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}
#brbtv-pinnedMentions-container li.pinnedMention:hover {
    background-color: #009c8a;
    cursor: pointer;
}
#brbtv-pinnedMentions-container li.pinnedMention .content-pinnedMention {
    padding: 4px;
    align-self: flex-start;
}
#brbtv-pinnedMentions-container li.pinnedMention .remove-pinnedMention {
    font-size: 2em;
    padding: 0 0.5em;
    align-self: flex-start;
    cursor: pointer;
    opacity: 0.75;
}
#brbtv-pinnedMentions-container li.pinnedMention:hover .remove-pinnedMention,
#brbtv-pinnedMentions-container li.pinnedMention .remove-pinnedMention:hover {
    opacity: 1;
}