/* remove own user name */
yt-live-chat-message-input-renderer yt-live-chat-author-chip {
    display: none !important;
}

/* reduce margins */
yt-live-chat-text-message-renderer {
    padding-left: 13px !important;
    padding-right: 13px !important;
}

yt-live-chat-text-message-renderer yt-img-shadow {
    margin-right:8px;
}