#brbtv-user-actions-menu {
    display: none;
    outline: none;
    position: fixed;
    left: 1747.39px;
    top: 315px;
    z-index: 103;
    background-color: #fff;
    padding: 6px 0;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.ytg-watch-page #brbtv-user-actions-menu {
    background-color: #333;
}
#brbtv-user-actions-menu.show {
    display: block;
}

#brbtv-user-actions-menu ytg-menu-popup-renderer {
    outline: none;
    box-sizing: border-box;
    max-width: 160.609px;
    max-height: 96px;
}
.brbtv-user-actions-item {
    outline: none;
    border: none;
    background: transparent;
    font: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: flex;
    cursor: pointer;
    padding: 3px 6px;
    height: 32px;
    width: 100%;
    padding: 0 10px;
}
.ytg-watch-page .brbtv-user-actions-item {

    color: white;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
}
.brbtv-user-actions-item:hover {
    background-color: #bbb;
}
.ytg-watch-page .brbtv-user-actions-item:hover {
    background-color: #444;
}
.brbtv-highlighted-message {
    background-color: rgb(204, 0, 0) !important;
    border-top: 1px solid rgb(204, 0, 0) !important;
    border-bottom: 1px solid rgb(204, 0, 0) !important;
}

.brbtv-highlighted-message .comment-time,
.brbtv-highlighted-message .byline {
    color: rgba(255,255,255,0.54) !important;
}

.brbtv-highlighted-message .mention {
    background-color: transparent !important;
}
.brbtv-highlighted-message .comment-text,
.brbtv-highlighted-message #message {
    color: #fff !important;
}
.brbtv-highlighted-message .accent-bar {
    background-color: rgb(204, 0, 0) !important;
}
.brbtv-highlighted-message #author-name {
    color: #fff !important;
}

.brbtv-muted-message {
    opacity: 0.4 !important;
}

.brbtv-muted-message .yt-user-name {
    text-decoration: line-through !important;
}
.brbtv-muted-message #author-name button {
    text-decoration: line-through;

}
button.brbtv-author-link {
    outline: none;
    border: none;
    background: transparent;
    font: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;


    cursor: pointer;
    color: inherit;
    padding: 0;
}
button.brbtv-author-link:focus {
    background-color: rgba(255,255,255,0.1);
}